<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.tercer.juegofinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".juegoAcertijos.nivel10" />
        <activity android:name=".juegoAcertijos.nivel9" />
        <activity android:name=".juegoAcertijos.nivel8" />
        <activity android:name=".juegoAcertijos.nivel7" />
        <activity android:name=".juegoAcertijos.nivel6" />
        <activity android:name=".juegoAcertijos.nivel5" />
        <activity android:name=".juegoAcertijos.nivel4" />
        <activity android:name=".juegoAcertijos.nivel3" />
        <activity android:name=".juegoAcertijos.nivel2" />
        <activity android:name=".juegoAcertijos.nivel1" />
        <activity android:name=".juegoAcertijos.niveles" >



        </activity>
        <activity android:name=".SplashSc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6990142911259855~3001690409"/>

        <service
            android:name=".FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>




        <activity android:name=".juego3.JuegoTiempo" />
        <activity android:name=".juego5.operaciones" />
        <activity android:name=".AjustesDelJuego.Ajustes" />
        <activity android:name=".juego4.correcto_incorrecto" />
        <activity android:name=".juego2.juegoAdivina" />
        <activity android:name=".juego2.adivina_numero" />
        <activity android:name=".juego1.suma_resta_mul" />
        <activity android:name=".MenuJuegos" />
        <activity android:name=".MainActivity" />



    </application>

</manifest>